<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Data wpisu</th>
        <th>Imię</th>
        <th>Email</th>
        <th>Wiek</th>
        <th>Pyt. 1</th>
        <th>Pyt. 2</th>
		<th>Pyt. 3</th>
		<th>Pyt. 4</th>
		<th>Pyt. 5</th>
		<th>Pyt. 6</th>
		<th>Pyt. 7</th>
		<th>Pyt. 8</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.created_at }}</td>
        <td>{{ element.firstname }}</td>
        <td>{{ element.email }}</td>
        <td>{{ element.age }}</td>
        <td>{{ element.q1 }}</td>
        <td>{{ element.q2 }}</td>
		<td>{{ element.q3 }}</td>
		<td>{{ element.q4 }}</td>
		<td>{{ element.q5 }}</td>
		<td>{{ element.q6 }}</td>
		<td>{{ element.q7 }}</td>
		<td>{{ element.q8 }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}